@using BlazingTaskManager.Client.Components.Layout

@layout LayoutHttpErrors

<PageTitle>BlazingTaskManager - 404 | Not Found</PageTitle>


@code { }


<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-qs-mint">404</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-neutral-800 md:text-4xl">Something's missing.</p>
        <p class="mb-4 text-lg font-light text-gray-500">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
        <a href="/" class="inline-flex text-neutral-950 bg-qs-mint hover:bg-qs-mint-active focus:ring-4 focus:outline-none
            focus:ring-qs-mint-active font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">Back to Homepage</a>
    </div>
</div>