@inherits LayoutComponentBase

@code {

}

<main class="w-full">
    <div class="relative min-h-screen bg-gray-100">
        <section class="bg-stone-50">
            @Body
        </section>
    </div>
</main>
