@inherits LayoutComponentBase




@code {

}

<div class="">
    <LayoutBlankHeader />
    @Body
    <footer class="bg-bt-purple-200 text-white">
        <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-16 md:p-8 lg:p-10">
            <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
                <div>
                    <h3 class="mb-6 text-sm font-semibold bt-black-500 uppercase">Company</h3>
                    <ul class="text-bt-black-500">
                        <li class="mb-4">
                            <a href="#" class=" hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Careers</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Brand Center</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold bt-black-500 uppercase">Help center</h3>
                    <ul class="text-bt-black-500">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Discord Server</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Twitter</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Facebook</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold bt-black-500 uppercase">Legal</h3>
                    <ul class="text-bt-black-500">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Licensing</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Terms</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold bt-black-500 uppercase">Company</h3>
                    <ul class="text-bt-black-500">
                        <li class="mb-4">
                            <a href="#" class=" hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Careers</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Brand Center</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-6 text-sm font-semibold bt-black-500 uppercase">Download</h3>
                    <ul class="text-bt-black-500">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">iOS</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Android</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Windows</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">MacOS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="my-6 border-bt-black-500 sm:mx-auto lg:my-8">
            <div class="text-center">
                <a href="#" class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
                    <img src="../img/assets/header-logo-black.png" class="h-6 mr-3 sm:h-9" alt="BlazingTask logo" />
                    BlazingTask
                </a>
                <span class="block text-sm text-center text-bt-black-500">
                    © 2025 BlazingTask™. All Rights Reserved. Built with <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-9.0" class="text-white hover:underline">Asp.net Blazor</a> and <a href="https://learn.microsoft.com/en-us/ef/core/" class="text-white hover:underline">Entity Framework Core</a>.
                </span>
            </div>
        </div>
    </footer>
</div>