
@code {

}


<div class="flex gap-5 bg-bt-black-400 text-white border-b-2 border-solid border-bt-black-200 backdrop-blur-[2px] py-4 px-7 sticky
    top-0 z-30">
    <button class="block lg:hidden text-white"></button>
    <h2 class="text-lg font-medium text-white">Expense Tracker</h2>

    <div class="fixed top-[61px] -ml-4 bg-white">

    </div>
</div>