@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --breakpoint-3xl: 1920px;
    --color-primary: #1368EC;
}
@layer base {
    html {
        font-family: 'Libre Franklin', sans-serif;
    }
    body {
        background-color: #FCFBFC;
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-white bg-bt-purple-50/75 
    rounded px-4 py-3 mb-4 mt-3 border-bt-purple-100 outline-none shadow-md;
}

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-bt-purple-200 hover:bg-bt-purple-500 
    focus:ring-4 focus:outline-none focus:ring-bt-purple-500/75 shadow-lg shadow-bt-shadow/45
    p-[10px] rounded-md my-1 cursor-pointer;
}

.btn-primary-icon {
    @apply px-6 py-3.5 inline-flex items-center bg-bt-purple-200 hover:bg-bt-purple-500 focus:ring-4 
    focus:outline-none focus:ring-bt-purple-500/75 rounded-lg text-center shadow-lg shadow-bt-shadow/45;
}

.card {
    @apply bg-bt-black-400/50 p-6 rounded-2xl text-white shadow-md shadow-bt-black-500/20 border 
    border-bt-purple-50/20;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-bt-black-500 bg-bt-purple-50 
    hover:bg-bt-purple-500 px-4 py-1.5 rounded-lg border-bt-purple-500/50 border cursor-pointer
    shadow-bt-black-500/40;    
}
